// Spacer
$spacer: 1rem;
$spacer-sm: 1rem / 2;
$spacer-lg: 1rem * 1.5;

// Colors
$gray-100: #fafafa;
$gray-200: #f5f5f5;
$gray-300: #f0f0f0;
$gray-400: #d9d9d9;
$gray-500: #bfbfbf;
$gray-600: #8c8c8c;
$gray-700: #595959;
$gray-800: #262626;
$gray-900: #141414;

$light: $gray-100;
$dark: $gray-800;

$body-bg: $light;
$body-color: $dark;

$blue: #096dd9;
$indigo: #1d39c4;
$purple: #531dab;
$pink: #c41d7f;
$red: #cf1322;
$orange: #d48806;
$yellow: #d4b106;
$green: #389e0d;
$teal: #0ca678;
$cyan: #08979c;
$black: #000;
$white: #fff;

// Theme colors
$text-muted: mix($body-color, #fff, 70%);
$primary: $red;
$secondary: $gray-700;
$info: $blue;

$theme-colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white
);

// Shadows
$enable-shadows: true;
$box-shadow: 0 9px 28px 8px rgba($black, 0.05), 0 6px 16px rgba($black, 0.08), 0 3px 6px -4px rgba($black, 0.12);

// Font
$font-size-base: 0.875rem; // 14px
$font-size-lg: 1rem; // 16px
$font-size-sm: 0.75rem; // 12px
$small-font-size: 0.75rem; // 12px
$font-weight-normal: 400;
$font-weight-bold: 600;
$line-height-base: 1.57143;
$line-height-lg: 1.375;
$line-height-sm: 1.66667;
$h1-font-size: 1.875rem; // 30px
$h2-font-size: 1.5rem; // 24px
$h3-font-size: 1.25rem; // 20px
$h4-font-size: 1.125rem; // 18px
$h5-font-size: 1rem; // 16px
$h6-font-size: 0.875rem; // 14px
// $font-family-sans-serif: 'Inter', sans-serif;

// Headings
$headings-font-weight: $font-weight-bold;
$headings-line-height: 1.3334;

// Grid
$grid-gutter-width: 24px;

// Controls
$border-color: $gray-400;
$component-active-bg: $primary;
$input-btn-padding-x: 0.75rem;
$input-btn-padding-y: 0.3125rem;
$input-btn-padding-x-lg: 0.75rem;
$input-btn-padding-y-lg: 0.5rem;
$input-btn-focus-width: 0.125rem;
$form-group-margin-bottom: $spacer-sm;
$input-box-shadow: inset 0 0 0 rgba(#fff, 0);

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($link-color, 15%);
$link-hover-decoration: none;

// Cards
$card-spacer-x: 1.5rem;
$card-spacer-y: 0.5rem;
$card-group-margin: $grid-gutter-width;
$card-deck-margin: $card-group-margin;

// Borders
$border-radius: 0.125rem;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

// Nav
$nav-tabs-border-color: transparent;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-border-color: transparent;
$nav-pills-border-radius: 0;

// Tables
$b-table-sort-icon-bg-not-sorted: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23dee2e6" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"/><path fill="%23dee2e6" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"/></svg>');
$b-table-sort-icon-bg-ascending: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23212529" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"/><path fill="%23dee2e6" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"/></svg>');
$b-table-sort-icon-bg-descending: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="%23dee2e6" d="M279 224H41c-21.4 0-32.1-25.9-17-41L143 64c9.4-9.4 24.6-9.4 33.9 0l119 119c15.2 15.1 4.5 41-16.9 41z"/><path fill="%23212529" d="M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z"/></svg>');

// Spinner
$spinner-border-width: 2px;
$spinner-border-width-sm: 1px;

// Breadcrumb
$breadcrumb-padding-x: 1rem;
$breadcrumb-padding-y: 0.5rem;
$breadcrumb-bg: transparent;
$breadcrumb-border-radius: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-font-size: $font-size-sm;

// Headings
$headings-margin-bottom: $spacer * 1.5;

// Tables
$table-th-font-weight: $font-weight-bold;
$table-cell-padding: 1rem;
$table-cell-padding-sm: 0.5rem;
$table-head-bg: $gray-100;
$table-border-color: $gray-300;
$table-head-color: $gray-800;

// Dropdowns
$dropdown-spacer: 1rem;
$dropdown-border-width: 0;
$dropdown-box-shadow: $box-shadow;
$dropdown-padding-x: 0;
$dropdown-padding-y: 0.25rem;
$dropdown-item-padding-y: 0.3125rem;
$dropdown-item-padding-x: 0.75rem;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $body-color;
$dropdown-link-hover-bg: $gray-200;
$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: $gray-200;
$dropdown-divider-bg: $gray-300;
$dropdown-divider-margin-y: 0.25rem;

// Modals
$modal-content-border-width: 0;
$modal-content-box-shadow-xs: $box-shadow;
$modal-content-box-shadow-sm-up: $box-shadow;
$modal-backdrop-bg: $black;
$modal-backdrop-opacity: 0.45;
$modal-header-border-width: 1px;
$modal-footer-border-width: 1px;
$modal-header-border-color: $gray-300;
$modal-footer-border-color: $gray-300;
$modal-header-padding-x: 1.5rem;
$modal-inner-padding: 1.5rem;

// Close
$close-font-size: 0;

// Toasts
$toast-padding-x: 0.75rem;
$toast-padding-y: 0.75rem;
$toast-font-size: 0.875rem;
//$toast-color: null;
$toast-background-color: $white;
$toast-border-width: 0;
// $toast-border-color: rgba($black, 0.1);
$toast-border-radius: $border-radius;
$toast-box-shadow: $box-shadow;

$toast-header-color: $body-color;
$toast-header-background-color: rgba($white, 0.85);
$toast-header-border-color: transparent;

$b-toaster-offset-top: 1rem;

// Custom select
$custom-select-indicator-color: $gray-700;
$custom-select-indicator: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-selector" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="#{$custom-select-indicator-color}" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="8 9 12 5 16 9"></polyline><polyline points="16 15 12 19 8 15"></polyline></svg>');
$custom-select-bg-size: 16px 16px;
