.sign-form,
.form-result {
  width: 100%;
  padding: 44px;
  background: rgba(#fff, 0.85);
  border-radius: 8px;
}

.sign-form {
  max-width: 438px;
}

.form-result {
  max-width: 700px;
  text-align: center;
}

.form-result-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: #fff;
  margin-bottom: $spacer;
  padding-top: 0.25em;
}

.form-result-title {
  font-weight: $headings-font-weight;
}

.form-result-text {
  &:not(:last-child) {
    margin-bottom: $spacer * 2;
  }
}

.form-footer {
  text-align: center;
  margin-top: $spacer * 1.5;
}

.vs__dropdown-toggle {
  @extend .form-control;

  background: $custom-select-background;
  display: flex;
}

.vs__actions {
  padding-top: 0;
}

.vs__clear {
  display: flex;

  svg path {
    fill: $gray-800;
  }
}

.vs__selected-options {
  padding-left: 0;
  padding-right: 0;
  margin-left: -8px;
  align-items: center;
  margin-top: -4px;
}

.vs__selected {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-right: 6px;
  padding-left: 6px;
}

.vs__search,
.vs__search:focus {
  margin-bottom: 4px;
}

.vs--open .vs__dropdown-toggle {
  color: $input-focus-color;
  background-color: $input-focus-bg;
  border-color: $input-focus-border-color;
  border-bottom-left-radius: $input-border-radius;
  border-bottom-right-radius: $input-border-radius;
  outline: 0;
  // Avoid using mixin so we can pass custom focus shadow properly
  @if $enable-shadows {
    box-shadow: $input-box-shadow, $input-focus-box-shadow;
  }

  @else {
    box-shadow: $input-focus-box-shadow;
  }
}

.vs__dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}

.password-field {
  input.form-control {
    padding-right: 44px;
    background-image: none;
  }

  .input-group-append {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
    height: 100%;
    width: 44px;
  }
}
