.page-header {
  display: flex;
  align-items: baseline;
  padding-bottom: 2rem;
  border-bottom: $border-width solid $border-color;
  margin-bottom: 2rem;
}

.page-header-title {
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}
