.sidebar-toggle {
  padding: 0;
  box-shadow: none;

  .icon-wrap {
    transition: all 0.25s ease-out;

    .wrapper.toggled & {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
    color: $primary !important;
  }
}

.sidebar-wrapper {
  transition: all 0.25s ease-out;
  overflow-x: hidden;
  flex: 0 0 15rem;

  .list-group {
    transition: all 0.25s ease-out;
    width: 15rem;
  }

  .list-group-item {
    display: flex;

    .icon-wrap {
      margin-top: 0.1em;
    }

    &.active {
      border-color: rgba(0, 0, 0, 0.125);
    }

    .wrapper:not(.toggled) &.collapsed {
      border-bottom-color: transparent;
    }
  }
}

.sidebar-heading {
  transition: all 0.25s ease-out;
  display: flex;
  align-items: center;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  width: 15rem;

  &:hover {
    text-decoration: none;
  }
}

.sidebar-heading-title,
.sidebar-item-title {
  margin-left: 1.25rem;
}

.sidebar-children {
  .list-group-item {
    padding-left: 2.25rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  &:not(:last-child) {
    .list-group-item:last-child {
      padding-bottom: 0.7rem;
    }
  }

  .wrapper.toggled & {
    display: none;
  }
}

@media (max-width: 767px) {
  .sidebar-wrapper {
    .wrapper.toggled & {
      margin-left: -15rem;
    }
  }
}

@media (min-width: 768px) {
  .sidebar-wrapper {
    .wrapper.toggled & {
      flex-basis: 3.75rem;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .wrapper {
    &.toggled {
      .sidebar-wrapper {
        &:hover {
          transition-delay: 0.25s;
          flex-basis: 15rem;

          .sidebar-children {
            display: block;
          }
        }
      }
    }
  }
}
