.nav-tabs {
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  border-bottom: none;
  position: relative;
  padding-bottom: 3px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: $gray-300;
  }

  .nav-link {
    white-space: nowrap;
    border-bottom-width: 2px;
    padding-left: 0;
    padding-right: 0;
    color: $secondary;

    &.active {
      position: relative;
      z-index: 1;
      border-bottom-color: $primary;
      color: $primary;
      background-color: transparent;
    }

    &:hover {
      color: $primary;
    }
  }

  .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
