h1,
.h1 {
  line-height: 2.375rem;
}

h2,
.h2 {
  line-height: 2rem;
}

h3,
.h3 {
  line-height: 1.75rem;
}

h4,
.h4 {
  line-height: 1.625rem;
}

h5,
.h5 {
  line-height: 1.5rem;
}

h6,
.h6 {
  line-height: 1.25rem;
}
